<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="21.3.0" targetFramework="net472" />
  <package id="FluentEmail.Core" version="3.0.0" targetFramework="net472" />
  <package id="FluentEmail.Smtp" version="3.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.11" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NPOI" version="2.5.2" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net472" />
  <package id="sautinsoft.document" version="5.2.2.16" targetFramework="net472" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
</packages>